html, body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

.top {
    position: fixed;
    top: 0%;
    height: 75px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 150;
}

.topLogo {
    position: absolute;
    height: 75%;
    z-index: 200;
    top: 50%;
    left: 50%;
    font-size: 30px;
    color: #FFA50CFF;
    transform: translate(-50%, 0%);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.topLogoText1 {
    position: absolute;
    right: 30px;
    transform: translate(0, -50%);
}

.topLogoText2 {
    position: absolute;
    left: 30px;
    transform: translate(0, -50%);

}

.topLogoImage {
    position: absolute;
    height: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.topOp {
    position: absolute;
    text-align: center;
    left: 125px;
    top: 50%;
    transform: translate(0, -50%);
}

.topOp a:hover {
    color: rgb(0, 0, 0);
}

.topOption {
    text-decoration: none;
    z-index: 200;
    padding: 50px;
    font-size: 30px;
    color: #FFA50CFF;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.start {
    position: relative;
    top: 0px;
    height: 100%;
    width: 100%;
    background-color: #FFA50CFF;
    z-index: 1;
    overflow: clip;
}

.start-text {
    display: block;
    position: absolute;
    top: 30%;
    left: 5%;
    right: 0%;
    z-index: 100;
    color: #750A00FF;
    font-size: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/*.start-text {
    display: block;
    position: absolute;
    top: 50%;
    left: 25%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    color: #750A00FF;
    font-size: 96px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}*/

.startBg {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 100%;
    min-width: 100%;
    z-index: 5;
}

.start-img {
    position: absolute;
    bottom: 0;
    height: 78%;
    left: 45%;
    z-index: 90;
}

.content {
    position: relative;
    top: 0px;
    height: 100%;
    width: 100%;
    background-color: rgb(40, 38, 41);
    z-index: 1;
}

.animate__slideInLeft {
    animation-name: slideInLeft;
}

.animate__slideInDown {
    animation-name: slideInDown;
}

.animate__animated {
    animation-fill-mode: both;
    animation-delay: -0.5s;
    animation-duration: 2s;
}

.animate__animated2 {
    animation-fill-mode: both;
    animation-delay: 0s;
    animation-duration: 1.5s;
}

.animate__animated3 {
    animation-fill-mode: both;
    animation-delay: -3.5s;
    animation-duration: 5s;
}