html, body {
    height: fit-content;
    background-color: #2f3136;
}

* {
    margin: 0;
    padding: 0;
}

.start {
    position: relative;
    height: 500px;
    width: 100%;
    background-color: #FFA50CFF;
    z-index: 1;
    overflow: clip;
}

.startBg {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 100%;
    min-width: 100%;
    z-index: 5;
}

.start-text {
    display: block;
    position: absolute;
    top: 50px;
    left: 50%;
    z-index: 100;
    color: #750A00FF;
    font-size: 100px;
    text-shadow: 7px 8px #000000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.start-text h1 {
    position: absolute;
    left: -600px;
}

.start-text h2 {
    position: absolute;
    left: -700px;
    top: 170px;
}

.start-img {
    position: absolute;
    bottom: 0;
    height: 500px;
    left: 50%;
    z-index: 90;
    transform: translate(0, -50%);
}

.top {
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    height: 75px;
    width: 100%;
    /*background-color: #750A00FF;*/
    /*background-color: #FFA50CFF;*/
    background-color: #000000;
    z-index: 150;
}

.topLogo {
    position: absolute;
    height: 75%;
    z-index: 200;
    top: 50%;
    left: 50%;
    font-size: 30px;
    color: #FFA50CFF;
    /*color: #000000;*/
    transform: translate(0%, 0%);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.topLogoText1 {
    position: absolute;
    right: 40px;
    transform: translate(0, -50%);
}

.topLogoText2 {
    position: absolute;
    left: 40px;
    transform: translate(0, -50%);

}

.topLogoImage {
    position: absolute;
    top: 4px;
    height: 130%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.topLine {
    position: absolute;
    height: 7px;
    width: 100%;
    bottom: 0%;
    left: 0%;
    z-index: 1000;
    background-color: #FFA50CFF;
    /*background-color: #000000;*/
}

.topLine2 {
    position: absolute;
    height: 7px;
    width: 100px;
    bottom: 0%;
    left: 50%;
    z-index: 1001;
    transform: translate(-50%, 0);
    /*background-color: #750A00FF;*/
    /*background-color: #FFA50CFF;*/
    background-color: #000000;
}

.topLine3 {
    position: absolute;
    height: 7px;
    width: 100%;
    top: -7px;
    left: 50%;
    z-index: 1001;
    transform: translate(-50%, 0);
    /*background-color: #750A00FF;*/
    background-color: #FFA50CFF;
    /*background-color: #000000;*/
}

.discord {
    position: relative;
    top: 0px;
    height: 886px;
    width: 100%;
    background-color: #36393f;
    z-index: 1;
}

.discordHell {
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 50%;
    right: 0;
    background-color: #2f3136;
}

.dcb {
    position: absolute;
    height: 70px;
    top: 148px;
    left: 50%;
}

.dcb img {
    height: 70px;
}

.dcb1 {
    position: absolute;
    z-index: 150;
    left: 30px;
}

.dcb2 {
    position: absolute;
    top: 8px;
    left: 37px;
    z-index: 149;
}

.discordText {
    display: block;
    position: absolute;
    top: 105px;
    width: 500px;
    margin: 30px 30px 30px;
    z-index: 100;
    color: rgb(226, 226, 226);
    background-color: #2f3136;
}

.discordText h1 {
    padding-left: 80px;
    text-shadow: 7px 8px #000000;
    font-size: 70px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.discordText p {
    text-shadow: 2px 2px #000000;
    padding-top: 30px;
    font-size: 20px;
    text-decoration: none;
    text-align: justify;
    font-family: Bahnschrift Light;
}

.discordText p b {
    color: #FFA50CFF;
    background-color: rgba(255, 177, 41, 0.151);
}

.discordImg {
    position: absolute;
    width: 502px;
    top: 100px;
    z-index: 500;
    /* Firefox */
    right: -moz-calc(50% + 30px);
    /* WebKit */
    right: -webkit-calc(50% + 30px);
    /* Opera */
    right: -o-calc(50% + 30px);
    /* Standard */
    right: calc(50% + 30px);
}

.discordLinks {
    position: absolute;
    top: 708px;
    left: 50%;
    z-index: 100;
}

.discordLinks h1 a {
    position: absolute;
    display: block;
    font-size: 70px;
    text-decoration: none;
    color: #005abb;
    text-shadow: 7px 8px #000000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.dcl1 {
    position: absolute;
    left: -30px;
    transform: translate(-100%);
}

.dcl2 {
    position: absolute;
    left: 30px;
}

.discordLinks h1 a:hover {
    color: #750A00FF;
}

.animate__slideInLeft {
    animation-name: slideInLeft;
}

.animate__slideInDown {
    animation-name: slideInDown;
}

.animate__animated {
    animation-fill-mode: both;
    animation-delay: -0.5s;
    animation-duration: 2s;
}

.animate__animated2 {
    animation-fill-mode: both;
    animation-delay: 0s;
    animation-duration: 1.5s;
}

.animate__animated3 {
    animation-fill-mode: both;
    animation-delay: -3.5s;
    animation-duration: 5s;
}

@media only screen and (max-width: 1429px) {

    .start-text {
        width: 100%;
        left: 30px;
    }
    
    .start-text h1 {
        left: 0;
    }
    
    .start-text h2 {
        left: 0;
    }

}

@media only screen and (max-width: 1079px) {

    .discord {
        top: 0px;
        height: fit-content;
    }

    .dcb {
        top: 220px;
        left: 0;
    }
    
    .discordHell {
        position: absolute;
        height: fit-content;
        width: 100%;
        top: -30px;
        left: -30px;
        right: 0%;
    }

    .discordText {
        position: absolute;
        top: 105;
        padding-left: 30px;
        padding-top: 100px;
        padding-bottom: 100px;
        /* Firefox */
        width: -moz-calc(100% - 30px);
        /* WebKit */
        width: -webkit-calc(100% - 30px);
        /* Opera */
        width: -o-calc(100% - 30px);
        /* Standard */
        width: calc(100% - 30px);
        left: 0;
    }

    .discordText p {
        padding-right: 30px;
    }

    .discordImg {
        display: none;
    }

    .discordLinks {
        position: absolute;
        top: 100px;
        bottom: 0px;
        left: 0;
    }
    
    .dcl1 {
        left: 30px;
        transform: translate(0);
    }
    
    .dcl2 {
        left: 230px;
    }
   
}

@media only screen and (max-width: 699px) {

    .start-text {
        display: none;
        width: 100%;
        left: 30px;
    }

    .start-img {
        position: absolute;
        bottom: 0;
        height: 500px;
        left: 0;
        z-index: 90;
    }

}